#hero {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    background-size: cover;
    overflow: hidden;
    position: relative;
    height: 567px;
    margin-bottom: 4em;

    // Image overlay
    &:after {
        background-color: fade-out($gray-darker, 0.2);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .logo, .description, .social {
        position: relative;
        z-index: 1;
        text-align: center;
        line-height: 1;
    }

    .logo {
        margin-top: 3em;
        margin-bottom: 0.4em;
        font-size: 4em;
        color: #fff;
    }
    .description {
        margin-bottom: 2em;
        color: fade-out(#fff, 0.25);
    }
    .social {
        li {
            a {
                color: fade-out(#fff, 0.25);
            }
        }
    }
}

article {
    header {
        margin-bottom: 4rem;
    }
    .entry-content {
        overflow: hidden;
        h3, h4, h5, h6, strong {
            font-weight: 700;
        }
        img {
            max-width: 100%;
            margin-bottom: -2em;
        }
        p {
            margin-bottom: 4em;
        }
    }
}

.entry-title {
    text-align: center;
}

.updated {
    display: block;
    text-align: center;
    color: $gray-light;
}

#comments {
    margin-top: 8em;
}
