body {
    margin-top: 50px;
}

a {
    cursor: pointer;
    img {
        transition: all 75ms ease-out;
    }
    &:hover img {
        opacity: 0.85;
    }
}

#hero {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    background-size: cover;
    overflow: hidden;
    position: relative;
    height: 720px;
    margin-bottom: 4em;

    // Image overlay
    &:after {
        background-color: fade-out($gray-darker, 0.2);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    // Video player

    #featured-video {
      display: none;
      html.touch & {
        display: none;
      }
      @media (min-width: $screen-md-min) {
        display: block;
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        min-width: 100%;
        min-height: 100%;
        z-index: 0;
      }
      @media (min-width: $screen-lg-min) {
        top: -35%;
      }
      @media (min-width: $screen-xl-min) {
      }
      @media (min-width: $screen-xxl-min) {
      }
      @media (min-width: $screen-xxxl-min) {
      }
      @media (min-width: $screen-xxxxl-min) {
      }
    }

    .logo, .description, .social {
        position: relative;
        z-index: 1;
        text-align: center;
        line-height: 1;
    }

    .logo {
        margin-top: 4.5em;
        margin-bottom: 0.4em;
        font-size: 4em;
        color: #fff;
        text-shadow: 0 0 3px fade-out($gray-darker, 0.2);
    }
    .description {
        margin-bottom: 2em;
        color: fade-out(#fff, 0.25);
        text-shadow: 0 0 3px fade-out($gray-darker, 0.2);
    }
    .social {
        li {
            a {
                color: fade-out(#fff, 0.25);
            }
        }
    }
}
